body {
  padding: 20px; }

.admin-panel,
.webview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff; }

.btn-admin {
  display: block;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
  z-index: 3; }

.webview {
  z-index: 1; }

.admin-panel {
  z-index: 2; }

.ng-hide {
  display: none; }

/* =====================================================
= Admin Panel
======================================================== */
.admin-panel {
  background-color: #eee; }
  .admin-panel .container {
    background-color: #fff;
    padding: 5em;
    max-width: 40em;
    margin: 5em auto; }

.ani-fadeIn.ng-enter {
  transition: .5s opacity;
  opacity: 0; }
  .ani-fadeIn.ng-enter.ng-enter-active {
    opacity: 1; }
.ani-fadeIn.ng-hide-remove {
  transition: .5s opacity;
  opacity: 0; }
  .ani-fadeIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }
